.mainpadre {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	row-gap: 2rem;
	column-gap: 2rem;
}
.card1 {
	width: 350px;
	transition: all, 1s;

}
.card1:hover{
    transform: scale(1.05);

}
.contenedor {
	margin: 10px;
	padding: 10px;
	p {
		margin: 10px;
		padding: 10px;
	}
}
.organigrama {
	width: 60%;
}
.padreorganigrama {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.tramites {
	list-style-type: bolder;
	text-transform: none;
	display: inline-block;
	font-weight: bold;
	width: 120px;
	padding-bottom: 30px;
}
.videos {
	display: flex;
	justify-content: space-evenly;
	row-gap: 30px;
	column-gap: 30px;
}

.video {
	width: 560px;
	height: 315px;
}
.ultramites {
	text-align: center;
	background: rgba(241, 237, 241, 0.5);
}
.com1 {
	grid-area: com1;
}
.com2 {
	grid-area: com2;
}
.com3 {
	grid-area: com3;
}
.com4 {
	grid-area: com4;
}
.com5 {
	grid-area: com5;
}
.com6 {
	grid-area: com6;
}
.com7 {
	grid-area: com7;
}
.comerciopadre {
	display: grid;
	grid-template-areas: "com1 com2 com3" "com4 com5 com6" "com7 com8 com9";
	gap: 60px 20px;
	overflow: hidden;
	justify-content: space-evenly;


}
.comercio {
	display: flex;
	flex-direction: column;
	background-color: $color_5;

	align-items:  center;
	border: solid rgb(204, 200, 200);
	border-radius: 15%;


	width: 18rem;
	transition: all, 1s;
	img{
			border-radius: 18% 18% 0% 0% ;
			align-items:  strech; 
		
	}

}
.comercio:hover{
	transform: scale(1.05);
	background-color: $color_3;
}

.limenu {
	transition: height 0, 5s, width 0, 10s;
	transition: all, 3s;
}
.logocomerc {
	width: 300px;
}
.claseform {
	margin: 3px;
	padding: 5px;
	align-items: center;
	text-align: left;
}
textarea {
	width: 480px;
	border:$color_7;
}

.mapa {
	width: 100%;
	padding: 12px 12px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	resize: vertical;
}

// FORM	
.contrec {
	display: flex;
	justify-content: space-evenly;
	row-gap: 20px;
	column-gap: 20px;
}
.form1 {
	max-width: 40%;
	margin: 0 auto;
	padding: 20px;
	border: 2px solid #ccc;
	border-radius: 10px;
}

input[type=text], input[type=email], input[type=tel], textarea {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	resize: vertical;
}

input[type=submit], input[type=reset] {
	color: rgb(56, 51, 51);
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: right;
}

label {
	font-weight: bold;
	display: block;
	margin-bottom: 5px;
}

