
.banner {
	height: 70vh;
	background-image: url(/images/plazademayo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	
}

section
{
	h1{
	color: red;	
	position: absolute;
	}
}