$color_1: #04040a;
$color_1: rgb(243, 245, 241);
$color_2: #83c5be;
$color_3: #9fbbe0;
$font-family_1: 'Quicksand', sans-serif;
$font-family_2: 'Roboto', sans-serif;
$background-color_3: #f1f3f7;

$color_1: white;
$color_2: #fff;
$background-color_1: #e636ce;
$background-color_2: #d7d3d8;

