$color_1: #04040a;
$color_4: rgb(243, 245, 241);
$color_2: #83c5be;
$color_3: #9fbbe0;
$color_6:#85f6c9;
$font-family_1: 'Dancing Script', cursive;

$background-color_3: #f1f3f7;


$color_5: #fff;
$background-color_1:  linear-gradient(to right top, #85f6c9, #48cbc0, #229fad, #21748f, #274c67);

$background-color_2: #d7d3d8;
$color_7: #9fbbe0;
$color_8:#21748f;
$color_9:#a2a9c5;

