* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.divh1 {
  background-color: #21748f;
}
.divh1 h1 {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 55px;
  font-size: 4rem;
  text-align: left;
}

h2 {
  color: #04040a;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10pz;
}

h4 {
  color: #21748f;
}

.font {
  font-weight: 300;
  font-family: "Noto Serif Lao", serif;
}

body {
  background-image: linear-gradient(to right top, #85f6c9, #48cbc0, #229fad, #21748f, #274c67);
  display: flex;
  flex-direction: column;
}

footer {
  background-color: #21748f;
}

.logoinsta {
  width: 50px;
  vertical-align: middle;
}

.logoface {
  width: 30px;
  bottom: 10px;
  right: 10px;
  vertical-align: middle;
}

.panel {
  border: 6px #e7e9fc solid;
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  z-index: 2;
}

header {
  position: fixed;
  margin-top: 12px;
  width: 100%;
  z-index: 1;
  background-color: #21748f;
}

.boton {
  border: #B1B7D1 solid 1px;
  background-color: #d7d3d8;
  margin: 5px;
}
.boton:hover {
  background-color: #9fbbe0;
  color: #04040a;
}

.ulmenu {
  background: rgba(0, 0, 0, 0.5);
}

.limenu {
  text-transform: uppercase;
  display: block;
  font-weight: bold;
  width: 150px;
  padding-bottom: 3px;
  color: #fff;
  outline: none;
  word-wrap: break-word;
}

a {
  text-decoration: dotted;
  color: #83c5be;
  line-height: 40px;
  font-weight: bolder;
}

.logoMuni {
  width: 60px;
  top: 30px;
  right: 80px;
  vertical-align: middle;
}

.navhambur {
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  top: 0;
}

.banner {
  height: 70vh;
  background-image: url(../images/plazademayo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

section h1 {
  color: red;
  position: absolute;
}

.mainpadre {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 2rem;
  column-gap: 2rem;
}

.card1 {
  width: 350px;
  transition: all, 1s;
}

.card1:hover {
  transform: scale(1.05);
}

.contenedor {
  margin: 10px;
  padding: 10px;
}
.contenedor p {
  margin: 10px;
  padding: 10px;
}

.organigrama {
  width: 60%;
}

.padreorganigrama {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tramites {
  list-style-type: bolder;
  text-transform: none;
  display: inline-block;
  font-weight: bold;
  width: 120px;
  padding-bottom: 30px;
}

.videos {
  display: flex;
  justify-content: space-evenly;
  row-gap: 30px;
  column-gap: 30px;
}

.video {
  width: 560px;
  height: 315px;
}

.ultramites {
  text-align: center;
  background: rgba(241, 237, 241, 0.5);
}

.com1 {
  grid-area: com1;
}

.com2 {
  grid-area: com2;
}

.com3 {
  grid-area: com3;
}

.com4 {
  grid-area: com4;
}

.com5 {
  grid-area: com5;
}

.com6 {
  grid-area: com6;
}

.com7 {
  grid-area: com7;
}

.comerciopadre {
  display: grid;
  grid-template-areas: "com1 com2 com3" "com4 com5 com6" "com7 com8 com9";
  gap: 60px 20px;
  overflow: hidden;
  justify-content: space-evenly;
}

.comercio {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  align-items: center;
  border: solid rgb(204, 200, 200);
  border-radius: 15%;
  width: 18rem;
  transition: all, 1s;
}
.comercio img {
  border-radius: 18% 18% 0% 0%;
  align-items: strech;
}

.comercio:hover {
  transform: scale(1.05);
  background-color: #9fbbe0;
}

.limenu {
  transition: height 0, 5s, width 0, 10s;
  transition: all, 3s;
}

.logocomerc {
  width: 300px;
}

.claseform {
  margin: 3px;
  padding: 5px;
  align-items: center;
  text-align: left;
}

textarea {
  width: 480px;
  border: #9fbbe0;
}

.mapa {
  width: 100%;
  padding: 12px 12px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.contrec {
  display: flex;
  justify-content: space-evenly;
  row-gap: 20px;
  column-gap: 20px;
}

.form1 {
  max-width: 40%;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
}

input[type=text], input[type=email], input[type=tel], textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type=submit], input[type=reset] {
  color: rgb(56, 51, 51);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

@media (max-width: 700px) {
  .comerciopadre {
    grid-template-areas: "com1" "com2" "com3" "com4" "com5" "com6" "com7";
    gap: 10%, 10%;
    justify-content: center;
  }
  .nav-item {
    background: linear-gradient(#fff, #ccc);
    opacity: 70%;
    text-align: center;
  }
  .limenu {
    color: #04040a;
    transition: height 0, 5s, width 0, 10s;
    transition: all, 3s;
  }
  .banner {
    height: 50vh;
  }
  .mainpadre {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .comerciopadre {
    grid-template-areas: "com1" "com2" "com3" "com4" "com5" "com6" "com7" "com8" "com9";
    align-items: center;
  }
  .contrec {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media (min-width: 701px) and (max-width: 999px) {
  .comerciopadre {
    display: grid;
    grid-template-areas: "com1 com2" "com3 com4" "com5 com6" "com7 com8";
    gap: 10%, 10%;
  }
  .nav-item {
    background: linear-gradient(#fff, #ccc);
    opacity: 70%;
    text-align: center;
  }
  .limenu {
    color: #04040a;
    transition: height 0, 5s, width 0, 10s;
    transition: all, 3s;
  }
  .banner {
    height: 50vh;
  }
  .videos {
    flex-wrap: wrap;
    justify-content: center;
  }
  .contrec {
    display: flex;
    flex-direction: column;
  }
}
h1 {
  font-weight: bold;
}

h2 {
  font-weight: bold;
}

h3 {
  font-weight: bold;
}

h4 {
  font-weight: bold;
}

h5 {
  font-weight: bold;
}

/*# sourceMappingURL=styles.css.map */
